<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">-->
<!--<nav id="sid">-->
    <div class="sidebar-header">
        <h3>My options / here should be a name ect</h3>
                <!--User: <span sec:authentication="${principal.getUsername()}">???</span>-->
            <!--<div th:text="${authorities.size()}" ></div>-->
            <!--/*@thymesVar id="user" type="pl.chomik.demo.domian.User"*/-->
            <span sec:authentication="name">Imię</span>
            <h2 >Hello [[${#httpServletRequest.remoteUser}]]!</h2>

    </div>

    <ul class="list-unstyled components">
        <li><a href= "Index.html"> Index</a>
        </li>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Book

            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">


                <li>
                    <a href="books/addbook">Add book</a>
                </li>
                <li>
                    <a href="booksrelated/serachforBook">Serach for a book</a>
                </li>
                <li>
                    <a href="/booksrelated/removeBook">remove book</a>
                </li>

                <li>
                    <a href="#">Buy a book</a>
                </li>
                <li>
                    <a href="#">My wishlist</a>
                </li>

            </ul>
        </li>

        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                My libary
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="book/booklist">Book list</a>
                </li>
                <li>
                    <a href="#">Borrow books</a>

                </li>
                <li>
                    <a href="#">Lend books</a>
                </li>
                <li>
                    <a href="#">Exchange books</a>
                </li>
                <li>
                    <a href="#">Offer books</a>
                </li>
                <li>
                    <a href="#">My wishlist</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Edit user data</a>
        </li>
        <li>
            <!--<a href="/logout">Logout</a>-->
        </li>
    </ul>
<!--</nav>-->
<!--</html>-->